.products_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    min-height: 80vh;
}
.product {
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}

.product__Col {
    font-size: 14px;
}

.product__ColImg,
.product__Col {
    flex: 1;
}

.product__ColImg {
    max-width: 150px;
    margin-right: 25px;
}